* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
label {
    margin: 0;
    padding: 0;
}

a {
    outline: medium none !important;
    text-decoration: none;
    transition: all 0.35s ease 0s;
}

a:hover {
    text-decoration: none;
}

button {
    transition: all 0.35s ease 0s;
}

a:focus {
    text-decoration: none;
}

button:focus {
    outline: 0px;
}





/*header*/
.navbar {
	justify-content: initial;
	padding: 0;
}

.navbar-nav {
	flex-direction: row;
}

.header {
	position: fixed;
	top: 30px;
	left: 0;
	width: 100%;
	background: transparent;
	transition: all 0.1s;
    z-index: 99;
}

.header .hamburger {
    display: none;
    float: right;
    height: 25px;
    padding: 0px;
    width: 25px;
    padding-top: 22px;
    opacity: 1
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background: #ffcc00;
    border-radius: 0;
    width: 25px;
    height: 3px;
}

.hamburger-box {
    width: 25px;
}

.hamburger-inner::before {
    top: -8px;
}

.hamburger-inner::after {
    bottom: -8px;
}

.navbar-brand {
	width: 175px;
}

.header .menu {
	margin-top: 15px;
        margin-left: 70px;
}

.header .menu li {
	margin: 0 25px;
}

.header .menu li a {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	padding: 6px 0px;
	font-weight: 600;
	position: relative;
}

.header .menu li a:hover {
	color:#fff;
}

.header .menu li a:before {
	content:'';
	position: absolute;
	left: 0;
	bottom: 0;
	background:#ffcc00;
	width:0;
	height: 1px;
	transition: all 0.2s;
}

.header .menu li a:hover:before {
	width: 100%;
}

.scrollMenu a.active {
    border-bottom: 1px solid #ffcc00;
    color: #fff!important;
}

.fixed_header {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.fixed_header .navbar-brand {
    width: 145px;
}
/*header end*/
.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    padding-top: 130px;
    background: #000;
    left: -250px;
    top: 0;
    transition: all 0.3s ease-out;
    z-index: 9;
}

.sidebar a {
    display: block;
    padding: 10px 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 600;
}



/*banner*/
.banner {
	background:url(../img/banner.png) no-repeat;
	background-size: cover;
	padding:235px 0 140px;
}

.banner h1 {
	font-size: 48px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0.13px;
    color: #fff;
    text-transform: capitalize;
}

.banner p {
	font-size: 22px;
    color: #fff;
    margin: 30px 0 40px;
}

.banner .joinExplr_btn {
	background: #ffcc00;
    color: #000;
    padding: 14px 60px 11px;
    display: inline-block;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.2s;
    border:2px solid #ffcc00;
}

.showMob {
    display: none;
}

.banner .joinExplr_btn:hover {
	background: transparent;
	color: #fff;
}

.arrowbox {
	width: 100%;

}

.arrowbox button {
	border: none;
	background: transparent;
	text-align: center;
	display: block;
	margin: 100px auto 0;
}

.banner_btm {
	padding-top: 110px;
}

.commHead {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.13px;
    text-align: center;
}

.comm_details {
	color: #555;
	margin-top: 30px;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.14px;
    line-height:32px;
}

.banner_btm p {
	color: #555;
}

.video_sec {
	padding: 60px 0 50px;
}

.videoSec_iner .img-fluid {
	width: 600px;
	margin: 0 auto;
	display: block;
}

.toGet_btn {
	background: #ffcc00;
	padding: 15px 55px 13px;
	color: #09357b;
	display: inline-block;
	margin-top: 65px;
	border-radius: 30px;
	font-weight: 600;
	border:2px solid #ffcc00;
	box-shadow: 0 5px 30px rgba(0,0,0,0.4)
}

.toGet_btn:hover {
	background: transparent;
	border-color:#09357b;
	color:#09357b;  
}

.slide {
    width: 350px;
    min-height: 465px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
       box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    outline: none;
    margin: 0 15px;
}

.slide_btm img {
    width: 70px;
    margin: 0 auto 10px;
}

.slide_btm h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.slide_btm p {
    font-size: 16px;
}

.slider .slick-list {
    padding-top:20px !important;
    padding-bottom:20px !important;
    outline: 0;
}

.slide_btm {
    padding: 20px 15px;
}

.slide.slick-slide:not(.slick-active){
    transform: scale(0.6);
    transform-origin: center right;
    margin-left: 0;
}

.slider .slick-slide.slick-active + .slick-slide:not(.slick-active) {
    transform-origin: center left;
    margin-left: 15px;
}

.product_sec {
    padding: 70px 0 60px;
}

.travel {
        	padding: 70px 0 100px;
        }

.provide_sec {
    background: url(../img/bg.png) no-repeat;
    padding: 90px 0 70px;
    background-size: cover;
}

.provide_inner h2 {
    color: #fff;
    margin-bottom: 90px;
}

.box {
    height: 100%;
    /*border: 1px solid #05a0c4;*/
}

.box h3 {
    color: #fff;
    font-size: 22px;
    margin: 30px 0 0;
    font-weight: 600;
    line-height: 32px;
}

.box p {
    color: #fff;
    font-size: 18px;
}

.uline {
    width: 60px;
    height: 5px;
    background: #ffcc00;
    border-radius: 25px;
    margin: 20px auto 20px;
}

.expr_btn:hover {
    border-color: #fff;
    color: #fff;
}

.profsnl {
    padding: 90px 0 70px;
}

.profsnl_inr h2 {
    font-size: 40px;
    margin-bottom: 58px;
}

.profsnl_inr p {
    font-size: 18px;
}

footer {
    padding: 90px 0 70px;
    background:#000;
}

.footer_inr p {
    color: #fff;
}

.line {
    width: 200px;
    height: 1px;
    background: #eee;
    margin: 20px auto 20px;
}


/*login page*/
.login {
    background:currentColor; 
}

.layout__column {
    min-height: 100vh;
    padding: 0;
}

.bg_account {
    position: fixed;
    top: 0;
    left: auto;
    display: flex;
    width: 50%;
    height: 100%;
    background:url(../img/signin-image.jpg) center no-repeat;
    /*background-size: cover */
}

.bg_color {
    background: #fff;
}

.btn.color__border--turquoise-no-bg {
    border-color: #dfe3ec;
    background: #f2f5fa;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease-out;
}

.form_tp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 24px 24px 0;
    z-index: 999;
}

.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.button p {
    margin-right: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #969dad;
}

.btn__normal:hover {
    background: #ffcc00;
    color: #555;
}

.form_container {
    padding-top: 120px;
}

.form_container h2 {
    font-size: 30px;
    color: #b3b3b3;
}

.form_container p {
    font-size: 16px;
    margin: 20px 0 30px;
    color: #b3b3b3;
}

.form_container form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 45px 90px;
    border-radius: 4px;
}

.form_container form label {
    font-weight: 500;
     font-size: 14px;
     color: #292a31;
}

.form_container form .form-control {
    font-size: 14px;
    color: #555;
    height: 42px;
    background: #f2f5fa;
    padding-left: 15px;
}

.form_container form .form-group {
    position: relative;
}

.form_container form .form-group button {
    position: absolute;
    top: 33px;
    right: 20px;
    background: transparent;
    border:none;
    color: #555;
}

.login_btn {
    display: block;
    background: #ffcc00;
    border: 1px solid #ffcc00;
    padding: 8px 40px 7px;
    margin: 30px auto 0;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    font-size: 16px;
    font-weight: 500;
    color: #292a31;
    transition: all 0.3s ease-out;
}

.login_btn:hover {
    border-color: #3f51b5;
    background: transparent;
    color: #3f51b5;
}

.form-control:focus {
    border-color: #ffcc00;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 204, 0, 0.2);
}

.linkbox {
    text-align: center;
    padding-top: 20px;
}

.frgtpass_link {
    font-size: 14px;
    color: #9e9e9e;
}

.frgtpass_link:hover {
    color: #ffcc00;
}

.crt_box {
    color: #9e9e9e;
    padding-top: 55px;
    padding-bottom: 40px;
}

.crt_box a {
    color: #455a64;
    
}


/*login page end*/

/*signup page*/

.form_container form .form-group h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #292a31;
    margin-bottom: 8px;
}

.bg_account_signup {
    background: url(../img/signup-image.jpg) no-repeat center;
    
}

.optionbx .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.optionbx .form-group label {
  position: relative;
  cursor: pointer;
}

.optionbx .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #969dad;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}

.optionbx .form-group input:checked + label:before  {
    background-color: #ffcc00;
    border-color: #ffcc00;
}

.optionbx .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    height: 12px;
    border: solid #3f51b5;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.option_tp {
    padding-top: 20px;
}

.validation-checker {
    padding-left: 30px;
    padding-bottom: 8px;
}

.validation-checker span {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #969dad;
}

.validation-checker i {
    color: #969dad;
    font-size: 22px;
}

.validation-checker i.active {
    color:#4caf50;
}

.validation-checker span.active {
    color: #000;
}

.signupForm_container {
    padding-bottom: 40px;
}