@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	background-color: #000;
}

ul,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0
}

p {
	margin-bottom: 10px;
}

button {
	outline: none!important;
}

a {
	text-decoration: none!important;
}


.btn_style1 {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #c48f56;;
    padding: 10px 20px;
    cursor: pointer;
    background: 0 0;
    border-radius: 0;
    color: inherit;
    position: relative;
    pointer-events: all;
    transition:all 0.2s;
    color: #fff;
}

.button_style2 {
	font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05em;
    color: #c48f56;
    position: relative;
    transition: all 0.2s;
}

.button_style2 i {
	margin-left: 10px;
    font-size: 17px;
    position: relative;
    top: 3px;
    font-weight: 600;
}

.button_style2:after{
	 content: "";
    font-family: "basic-ui-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px;
}

.btn_style1:hover, 
.btn_style1:focus {
  background-color: #c48f56;
  color: #fff;
}

.button_style2:hover {
	color: #fff;
}

.common_heading1,
.common_heading2 {
	color: #fff;
	font-weight: 700;
}

.common_heading1 {
	font-size: 36px;
}

.common_heading2 {
	font-size: 48px;
}


.hamburge_icon {
    width: 30px;
    height: 22px;
    position: relative;
    margin: 12px 0 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    display: none;
}

.hamburge_icon span {
  display:block;
  position:absolute;
  background:#c48f56;
  width:80%;
  height:2px;
  opacity:1;
  left:0;
  vertical-align:middle;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburge_icon span:nth-child(1) {
  top:0;
}

.hamburge_icon span:nth-child(2) {
  top:7px;
}

.hamburge_icon span:nth-child(3) {
  top:14px;
}

.hamburge_icon.open span:nth-child(2) {
  opacity:0;
  left:-60px;
}


.hamburge_icon.open span:nth-child(1) {
    top: 7px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg)
}


.hamburge_icon.open span:nth-child(3) {
    top: 7px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.left {
    left:0!important;
}


/*header*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 0.3s;
	z-index: 99;
}

.logo_wraper {
	max-width: 300px
}

.logo_wraper img {
	width: 100%;
}

.menu > li {
	display: inline-block;
	position: relative;
}

.menu li a {
	display: inline-block;
	transition: all 0.2s;
	padding: 7px 12px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;

}

.menu li a:hover {
	color: #c48f56;
}

.menu li a.active {
	border:1px solid #c48f56;
	border-right: none;
}

.fixed_header {
	background-color: #000;
}

.submenu {
	position: absolute;
    width: 200px;
    background-color: #000;
    left: 0;
    top: 35px;
    padding: 10px 0 0;
    list-style: none;
    visibility: hidden;
    transition: all 0.3s;
    opacity: 0;
}

.submenu li a {
	display: block;
	padding: 8px 20px;
	border-bottom: 1px solid #3a3a3a;
	font-size: 12px;
}

.menu li:hover .submenu {
	visibility: visible;
	opacity: 1;
}
/*header end*/

/*============homepage=============*/
.banner_slider .slide {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	-webkit-box-shadow: inset 0 0 150px 0 rgba(0,0,0,.8);
    box-shadow: inset 0 0 150px 0 rgba(0,0,0,.8);
}


.banner_slider .slide_1 {
	background-image: url(../img/slider/banner_slide1.jpg);
}

.banner_slider .slide_2 {
	background-image: url(../img/slider/banner_slide2.jpg);
}

.banner_slider .slide_3 {
	background-image: url(../img/slider/banner_slide3.jpg);
}


.banner_slider .owl-item .main_heading,
.banner_slider .owl-item .sub_head {
	opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}


.banner_slider .owl-item.active .main_heading,
.banner_slider .owl-item.active .sub_head{
	-webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1
}

.banner_slider .owl-item .btn_style1 {
	-webkit-transform: translate(0%,100%);
    -ms-transform: translate(0%,100%);
    transform: translate(0%,100%);
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    display: inline-block;
}


.banner_slider .owl-item.active .btn_style1 {
	 -webkit-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    transform: translate(0%,0%);
    opacity: 1;
}


.banner_slider .main_heading {
	 font-size: 60px;
    font-weight: 700;
    margin: 20px 0;
}



.slider_wraper {
	position: relative;
}


.banner_social_buttons {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    font-size: 12px;
    width: 70px;
    overflow: hidden;
    min-height: 540px;
    text-transform: lowercase;
}

.banner_social_buttons .links {
	text-align: center;
    width: 340px;
    margin-left: -140px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    white-space: nowrap;
}

.banner_social_buttons .item {
	display: inline-block;
    text-decoration: none;
    margin: 0 20px;
    position: relative;
    color: #fff;
    transition: all 0.2s;
}

.banner_social_buttons .item i {
	margin-right: 10px;
}

.banner_social_buttons .item:hover{
	color: #c48f56!important;
}

.banner_social_buttons .item + .item:after {
	content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-top: -2px;
    background-color: #c48f56;
}

.banner_slider .owl-nav {
	position: absolute;
    bottom: 20px;
    right: 20px;
}

.banner_slider .owl-nav .owl-prev span,
.banner_slider .owl-nav .owl-next span{
	font-size: 34px;
	color: #fff;
	font-weight: 100;
	margin: 0 10px;
	transition: all 0.2s; 
}

.banner_slider .owl-nav button span:hover {
	color: #c48f56;
}


.banner_slider .owl-dots {
    counter-reset: slides-num;
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 12px;
    font-weight: 500;
    -webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    color: #fff;
}

.banner_slider .owl-dot {
    display: block;
    counter-increment: slides-num;
}

.banner_slider .owl-dot:before {
    content: "0" counter(slides-num);
    display: block;
    margin-bottom: 18px;
}

.banner_slider .owl-dot span {
    display: none;
}


.banner_slider .owl-dot:after {
    content: "";
    display: block;
    width: 1px;
    margin: 0 auto;
    height: 0;
    -webkit-box-shadow: inset 0 0 0 1px;
    box-shadow: inset 0 0 0 1px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.banner_slider .owl-dot.active {
    padding-bottom: 18px;
}

.banner_slider .owl-dot.active:before {
	color: #c48f56;
}

.banner_slider .owl-dots {
    left: auto;
    right: 25px;
}

.banner_slider .owl-dot:after {
    content: "";
    display: block;
    width: 1px;
    margin: 0 auto;
    height: 0;
    -webkit-box-shadow: inset 0 0 0 1px;
    box-shadow: inset 0 0 0 1px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.banner_slider .owl-dot.active:after {
    height: 30px;
}

.banner_slider .owl-dot.active {
    padding-bottom: 18px!important;
}

/*banner end*/


.we_r_nectar {
	padding: 70px 0;
	overflow: hidden;
}


.weR_rht h3 {
	margin: 30px 0;
	position: relative;
}

.weR_rht h3 span {
	display: block;
}

h3.with_line {
	position: relative;
}

h3.with_line span {
	color: #c48f56;
}

h3.with_line:after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    margin-top: 30px;
    background: #292929;
}

.weR_rht p {
	font-size: 14px;
    font-weight: 200;
    color: #fff;
    margin-bottom: 20px;
}



.category_slide {
	min-height: 765px;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 30px;
}


.category_slide1 {
	background-image: url(../img/left_img.png)
}

.category_slide2 {
	background-image: url(../img/serviceslide3.jpg)
}

.category_slide3 {
	background-image: url(../img/serviceslide2.jpg)
}

.category_slide4 {
	background-image: url(../img/3darcht.gif)
}


.category_inr .owl-nav .owl-prev, 
.category_inr .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
 	font-size: 42px!important;
    color: #9e9e9e!important;;
}


.category_inr .owl-prev {
	left: 30px
}

.category_inr .owl-next {
	right: 30px;
}



.category_inr .item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 30px;
    z-index: 2;
    background-color: #c48f56;
}

.category_slide p {
	font-weight: 700;
	color: #fff;
	margin: 20px 0;
}


.category_slide h3 {
	margin: 20px 0;
}


.lates_work{
	padding: 60px 0 30px;
}

.lates_work_inr h3.with_line:after{
	    margin: 30px auto;
}


.lates_work_inr .tab_btn {
	list-style: none;
	text-align: center;
}

.lates_work_inr .tab_btn li {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	margin: 0 15px;
	cursor: pointer;
	position: relative;
}

.lates_work_inr .tab_btn li.active:after {
	content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 9px;
    z-index: -1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #c48f56;
}


.latesWork_box {
	display: none;
}

.lates_work_inr .gallery figure {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 0 15px;
	transition: all 0.2s;
	margin-bottom: 25px;
}

.latesWork_card img {
	width: 100%;
	height: 235px;
	object-fit: cover;
}

.lates_work_inr .col-md-4 {
	margin-bottom: 30px;
}

.latesWork_card {
	position: relative;
}

.latesWork_card .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

.latesWork_card:hover .overlay {
	opacity: 1;
}



.latesWork_card .overlay h5 {
	font-weight: 700;
    font-size: 24px;
    color: #fff;
    position: relative;
}

.latesWork_card .overlay h5:after {
	content: "";
    display: block;
    width: 25px;
    height: 1px;
    margin: 10px auto;
    background: #fff;
}


.latesWork_card .overlay p {
	color: #fff;
}

.testimonial {
	padding: 30px 0 50px;
}

.testimonial_inr h3 {
	margin-bottom: 40px;
}

.testimonial_inr h3.with_line:after {
	margin: 20px auto;
}

.tstm_slide_rht {
    position: relative;
    padding: 80px 35px 80px 65px;
    height: 100%;
    background: #121212;
}

.quote:after {
	content: "";
    display: block;
    margin: 30px 0;
    height: 1px;
    width: 20px;
    border-bottom: 1px solid;
    vertical-align: top
}


.tstm_slide_rht .quote .q {
    color: #5f462d;
    font-size: 235px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 15px;
    left: 65px;
   }


   .tstm_slide_rht .quote p {
   	font-weight: 200;
    font-style: italic;
    font-size: 18px;
    line-height: 36px;
    position: relative;
    padding: 100px 0 0 0;
    font-style: normal;
    color: #fff;
   }


   .tstm_slide_rht .post {
   	    font-weight: 300;
	    font-style: italic;
	    font-size: .875em;
	    color: #fff;
	    margin-top: 20px;
   }


.testimonial_slider .owl-nav {
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.testimonial_slider .owl-nav .owl-prev,
.testimonial_slider .owl-nav .owl-next{
	color: #fff!important;
    font-size: 54px!important;
    font-weight: 100!important;
    margin: 0 10px;
}


.testimonial_slider .owl-dots {
    position: absolute;
    bottom: 25px;
    left: 25px;
}


.testimonial_slider .owl-dots .owl-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.testimonial_slider .owl-dots .owl-dot.active {
	background-color: #c48f56;
}


.logo_slider.owl-carousel .owl-stage {
	 display: flex;
    align-items: center;
    justify-content: center;
}

.logo_slider img {
	transition: all 0.2s;
}

.logo_slider img:hover {
	filter: brightness(0.5);
	-webkit-filter: brightness(0.5);
}

.partenrs_box {
	padding: 60px 0 70px;
}

.social_media {
	background-color: #111;
    padding: 17px 0px;
}

.social_media .banner_social_buttons {
	position: initial;
	width: initial;
	min-height: initial;
}

.social_media .banner_social_buttons .links {
	position: initial;
	width: initial;
	margin-left: 0;
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

.social_media .banner_social_buttons .links a {
	font-size: 14px;
}

.banner_slider h2 br,
.banner_slider h1 br {
	display: none;
}
/*============homepage end=============*/


/*=============contact page===========*/
.contact {
	min-height: 100vh;
	padding: 60px 0 70px;
	margin-top: 90px;
	background-color: #111;
}

.contact h3 {
	text-align: center;
    font-size: 33px;
    font-weight: 600;
    color: #c48f56;
}

.contact h3.with_line:after {
	margin-left: auto;
	margin-right: auto;
	background-color: #c48f56;
}

.contact_inre h3 + div.row {
	margin-top: 60px;
}

.contact_inre form .form-control {
	border:none;
	border-bottom: 1px solid #464646;
	background-color: transparent;
	border-radius: 0;
	padding-left: 0;
	outline: none;
	box-shadow: none;
	color: #fff;
}

.contact_inre form .form-group {
	margin-bottom: 50px;
}

.contact_inre form textarea {
	height: 100px;
    resize: none;
}


.contact_inre form button {
	width: 150px;
}

.contact_rht h4 {
	text-transform: uppercase;
    font-weight: 600;
    color: #c48f56;
    font-size: 18px;
    margin-bottom: 15px;
}

.contact_rht p {
	color: #8e8a8a;
}

.contact_rht .col-md-6 img {
	width: 100%;
	margin-bottom: 15px;
}
/*=============contact page end===========*/


/*===============faq page============*/

.faq_sec {
	padding: 60px 0 70px;
	margin-top: 90px;
	background-color:#111; 
	min-height: 100vh;
}

.faq_inner h2 {
	font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
}

.faq_inner h3 {
	margin-top: 60px;
    color: #fff;
    font-size: 29px;
    margin-bottom: 50px;
}

.faq_inner h2 span,
.faq_inner h3 span {
	color: #c48f56;
}

.faq_inner p {
	color: #8a8a8a;
}

.accord_wraper h4 {
	padding: 10px 0 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
    color: #8a8a8a;
    font-size: 22px;
}

.accord_wraper h4.active {
	color: #c48f56;
}

.accord_wraper h4 i {
	font-size: 18px;
}

.accord_wraper .content {
	display: none;
}


.need_help {
	max-width: 650px;
    margin: 0 auto;
}

.need_help h3 {
	text-align: center;
}

.need_help h3.with_line:after {
	margin-left: auto;
	margin-right: auto;
}

.need_help  form button {
	width: 100%;
	margin-top: 30px;
}


.need_help  form .form-control {
	background-color: #000;
    border: none;
    outline: none;
    box-shadow: none;
}

.need_help  form textarea.form-control {
	resize: none;
	height: 100px;
}
/*===============faq page end============*/



/*=============about page============*/
.about_banner {
	padding:150px 0 70px;
}

.about_bnr_rht {
	background-color: #121212;
	padding: 80px 60px;
}

.about_bnr_rht h3 {
	margin-bottom: 35px;
}


.about_bnr_rht p {
	font-size: 17px;
	text-align: justify;
	color: #fff;
	margin-bottom: 15px;
}

.why_choose {
	padding: 0 0 10px;
}

.why_choose h3 {
	text-align: center;
}

.why_choose h3.with_line:after {
	margin:30px auto 60px;
}

.icon_ring {
	width:105px;
	height: 105px;
	border: 2px solid #c48f56;
	border-radius: 50%;
	margin: 0 auto 25px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.choose_box {
	text-align: center;
	color: #fff;
}

.choose_box h4 {
	font-size: 18px;
	font-weight: 700;
}

.choose_box p {
	font-size: 14px;
    margin-top: 15px;
}

.choose_iner .col-md-4 {
	margin-bottom: 80px;
}


.latest_work {
	padding: 0 0 60px;
}


.latest_work h3 {
	margin-bottom: 40px;
}

.latest_work h3.with_line:after {
	margin-left: auto;
	margin-right: auto;
}

.latest_wrk_tp {
	height: 230px;
}

.latest_wrk_tp img {
	object-fit: cover;
	height: 100%;
}

.latest_work_box  {
	color: #fff;
	background: #111111;
}

.latest_wrk_mid {
	padding: 20px 35px 0.1px;
}

.latest_wrk_mid h4 {
	font-size: 24px;
}

.latest_wrk_mid span {
	font-weight: bold;
    font-size: 10px;
    margin: 15px 0;
    color: #c48f56;
}

.latest_wrk_mid p {
	margin: 15px 0;
    font-size: 14px;
    line-height: 1.714em;
    font-weight: 200;
}

.icon_ring span {
	font-size: 46px;
}

.cstm_padd {
	padding: 15px 0;
}

.latest_wrk_btm {
	border-top: 1px solid #191919;
	padding: 16px 35px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest_wrk_btm a {
	color: #fff;
	font-size: 14px;
}

.latest_wrk_btm a i {
	margin-right: 5px;
	color: #c48f56;
}
/*=============about page end============*/

.accord_box .row .col-md-6 + .col-md-6 {
	padding-left: 60px;
}


/*=============portfolio page===========*/
.portfolio {
	padding: 140px 0 60px;
}

/*=============portfolio page end===========*/



/*=================EXTERIOR RENDERING page===========*/

.extr_banner {
	background:url(../img/slider/banner_slide2.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 60px 0 40px;
	position: relative;
	z-index: 1;
}

.extr_banner:before {
	content: '';
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: -1;
}

.ext_banner_inr {
	min-height: 100vh;
	text-align: center;
}

.ext_banner_inr h2 {
	color: #fff;
    font-weight: 700;
    font-size: 80px;
}

.ext_banner_inr p {
	font-size: 28px;
    font-weight: 500;
    color: #fff;
    margin-top: 30px;
}

.design_solution {
	padding: 30px 0 60px;
}

.desingSolution_inr h3.with_line:after {
	margin: 30px auto 40px;
}

.design_box {
	color: #fff;
}

.design_box h4 {
	font-size: 24px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.design_box p {
	font-size: 14px
}

.design_box ul {
	padding-left: 15px;
}

.design_box ul li {
	font-size: 14px;
	margin-bottom: 10px;
}

.intouch {
	padding: 100px 0 80px;
	background-color: #fff;
}

.intouch_inr h4 {
	    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}

.brief_includes {
	padding: 80px 0 90px;
	background-color: #232323;
}

.brief_includes p {
	color: #fff;
}


.golden_btn {
	background-color:#c48f56;
	color: #fff;
	border:1px solid #c48f56!important;
}

.golden_btn:hover {
	background-color: #fff;
	color: #c48f56;
}

.brief_rht .form-control {
	height: 50px;
}

.brief_rht form button {
    height: 50px;
    border: none;
    border-radius: 4px;
    width: 100%;
}


.brief_rht .form-control:focus,
.contactus_rht .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #c48f56;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #c48f56;
}


.sample_work {
	padding: 80px 0 70px;
}



.contactus {
	background-color: #fff;
	padding: 60px 0 70px;
}

.contactus h3 {
	color: #000;
    margin-bottom: 20px;
}

.contactus_inner {
	background-color: #f0f0f0;
	padding: 20px;
}


.contactus_lft {
	 background-color: #fff;
    height: 100%;
    padding: 75px 40px 90px;
}

.contactus_rht .form-control {
	background-color: #f8f8f8;
	\background-color: #f8f8f8;
    border: none;
    height: 48px;
}


.contactus_rht textarea.form-control {
	resize: none;
	height: 120px;
}

.contactus_rht .submit_btn.golden_btn {
	border: none;
    width: 100%;
    height: 48px;
    border-radius: 4px;
}


.desingSolution_inr > h4,
.desingSolution_inr > h3 {
	font-size: 40px;
}
/*=================EXTERIOR RENDERING page end===========*/



.overflow_hidden {
	overflow: hidden;
}


/*=================footer===============*/
.footer {
	background-color: #232323;
	padding: 20px 0;
}


.footer_lft img {
	max-width: 250px;
}

.footer p {
	color:#fff;
}

.footer_lft p {
	margin-top: 30px;
}

.footer_mid h3 {
	font-weight: 700;
    font-size: 24px;
    color:#fff;
    margin: 15px 0 30px;
}

.footer h3.with_line:after {
    background: #b58550;
    margin-top: 15px;
 }

 .footer_mid ul li {
 	padding: 8px 25px 8px 0px;
 	border-bottom: 1px solid #353535;
 }

 .footer_mid ul li a {
 	color: #777;
 	transition: all 0.2s;
 }

 .footer_mid ul li a:hover {
 	color: #b58550;
 }
 

 .footer_mid ul li a span {
 	position: relative;
    top: -2px;
    margin-right: 5px;
 }

  .spacer {height: 5em;}

  .pswp__button--arrow--left:before {
  	content: '\2190';
  	color: #fff;
  }

  .pswp__button--arrow--right:before {
  	 content: '\2192';
  	 color: #fff;
  }
/*=================footer end===============*/

.text_color {
	color: #c48f56;
}


.design_solution .row {
    margin: 0 -55px;
}

.design_solution .col-md-3 {
    padding: 0 55px;
}

.design_box .golden_btn {
    padding: 10px 65px;
    border-radius: 4px;
    margin-top: 25px;
    display: inline-block;
}

 .design_solution .design_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ourDesing_wraper .design_box {
    justify-content: space-between;

}

.interior_banner {
    background: url(../img/nterior-renderingbg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}